body {
	background: #222;
    color: #101010;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.gui {
    background: #eee;
    margin-bottom: 12px;
    width: 600px;
}

table {
    background: #eee;
    border: none;
    margin: 0;
    padding: 0;
}

td {
    height: 26px;
    padding: 0;
    width: 26px;
}
